.checkoutMeal{
    padding: 20px;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,.2);
    border-radius: 10px;
}
.checkoutMeal h5, h4{
    margin: 0 30px;
}
.checkoutMeal h6{
    margin-left: 40px;
}
button{
    float: right;
}