input{
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 15px 55px;
    width: 292px;
    height: 32px;
}
form{
    box-shadow: 0 10px 40px 0 rgba(0,0,0,.5);
    border-radius: 15px;
    text-align: center;
    padding: 25px 0;
    margin: 80px 0px 20px 20px;
}
h3{
    margin: 20px;
}
